.chat-message {
  margin-bottom: 20px;
}

.tittle {
  margin-bottom: -30px;
  padding-bottom: -30px;
}

.chat-message p {
  font-size: 16px;
  color: #fff;
}

.chat-message:first-child {
  background-color: #c0cdd5;
  padding: 10px;
  border-radius: 10px;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid #fff;
  border-right-color: #337ab7;
  border-radius: 50%;
  -webkit-animation: spinner-border 1.5s linear infinite;
  animation: spinner-border 1.5s linear infinite;
}

@-webkit-keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.form-control {
  resize: vertical;
}

.form-control {
  height: auto;
  overflow-y: auto;
}

/* ... */

@media (min-width: 1024px) {
  .container {
    max-width: 35vw;
  }
}

/* Estilos generales */
.chat .container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .chat .container {
    max-width: 100%;
    width: 85%;
  }
}

@media (min-width: 768px) {
  .chat .container {
    max-width: 100%;
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .chat .container {
    max-width: 40vw;
  }
}

/* Estilos para el chat */
.chat-messages {
  max-height: 60vh;
  overflow-y: auto;
}

.message-item {
  margin-bottom: 1rem;
}

.message-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user-message {
  text-align: right;
  background-color: #9bbca4;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.btn-dark-2 {
  background-color: #343a40;
  color: white;
}

/* Spinner */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}