<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/home"><img src="./assets/images/marca-utem-horizontal.jpg" alt="Logo UTEM" class="img-fluid logo-utem mb-4"></a>
        <h1 class="display-4">Proyecto Chatbot UTEM</h1>
        <p class="lead">Bienvenido al proyecto de chatbot desarrollado para la Universidad Tecnológica Metropolitana (UTEM).</p>
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Tecnologías utilizadas</h3>
            <ul class="list-group">
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">Flask</li>
              <li class="list-group-item">Heroku</li>
              <li class="list-group-item">Modelo Gemini 1.5 Flash</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Proceso de desarrollo</h3>
            <ul class="list-group">
              <li class="list-group-item">Web scraping a la página de la UTEM</li>
              <li class="list-group-item">Vectorización de datos en una base de datos embebida</li>
              <li class="list-group-item">Almacenamiento de archivos en AWS</li>
              <li class="list-group-item">Optimización para respuestas rápidas del servidor</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>Este proyecto fue desarrollado como parte de una iniciativa para mejorar la interacción y el acceso a la información en la UTEM.</p>
        <p>Explora el chatbot y descubre cómo puede ayudarte en tus consultas y necesidades relacionadas con la universidad.</p>
        <a href="/chat" class="btn btn-primary btn-lg">Iniciar chat</a>
      </div>
    </div>
  </div>